/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/**
 * Primary styles
 *
 * Author: 
 */
 
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/* Button from: http://ubuwaits.github.com/css3-buttons/ */
button.punch {
  background: #4162a8;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111;
  color: #fff;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0px -1px 1px #1e2d4d;
  width: 200px;
  -webkit-background-clip: padding-box;
}

button.punch:hover {
  -moz-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111;
  -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111;
  box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111;
  cursor: pointer;
}

button.punch:active {
  -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111;
}



body {
    font-family: sans-serif;
    background: #E8EFF5 url('/img/noise.png');
}

#header {
    margin: 250px auto 5px auto;
    width: 750px;
    text-align: center;
}

#header.top {
    margin: 20px auto 5px auto;
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

h1 {
    color: #fff;
    font-family: 'Paytone One', arial, serif;
    font-size: 60px;
    margin-bottom: 30px;
    text-shadow: #013 0 10px 15px, #013 0 0 1px;
}

#header #input {
    font-size: 30px;
    margin: 10px auto 10px auto;
    padding: 5px;
    width: 500px;
}

#header button {
    margin-left: 15px;
}

#header small {
    display: block;
    font-size: 16px;
    margin: 10px 0 0 10px;
    text-align: left;
}

#header small strong, #header small a { margin-right: 15px; }


li {
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    background: white;
    color: #000;
    cursor: pointer;
    height: 200px;
    list-style: none;
    margin: 25px;
    padding: 10px;
    position: relative;
    width: 300px;
    text-align: center;
    text-shadow: #fff 1px 2px;
    
	
	-moz-box-shadow: -3px -3px 10px 2px rgba(0,0,0,.3) inset,
				0 0 0 10px rgba(255, 255, 255, .6) inset,
				0 0 0 1px rgba(0,0,0,.5),
				2px 2px 10px rgba(0,0,0,.6);
	box-shadow: -3px -3px 10px 2px rgba(0,0,0,.3) inset,
				0 0 0 10px rgba(255, 255, 255, .6) inset,
				0 0 0 1px rgba(0,0,0,.5),
				2px 2px 10px rgba(0,0,0,.6);
	/* Overrride for Webkit bug */
	-webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, .6) inset,
				0 0 0 1px rgba(0,0,0,.5),
				2px 2px 10px rgba(0,0,0,.6);
}

li .word {
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    
    background: rgba(255, 255, 255, .4);
    font-size: 36px;
    padding: 5px 7px 5px 5px;
    position: relative;
    top: 40%;
}


li .label {
    top: 15px;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: bold;
    left: 0;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    text-shadow: #000 0 2px 2px;
    width: inherit;
}

li .num {
    display: none;
}

#footer {
    bottom: 20px;
    font-size: 11px;
    position: fixed;
    text-align: center;
    width: 100%;
}

/* CARD STYLES */

.af { background-image: url('/img/noise.png'), url('/img/af.png'); }
.sq { background-image: url('/img/noise.png'), url('/img/sq.png'); }
.ar { background-image: url('/img/noise.png'), url('/img/ar2.png'); }
.hy { background-image: url('/img/noise.png'), url('/img/hy.png'); }
.az { background-image: url('/img/noise.png'), url('/img/az.png'); }
.eu { background-image: url('/img/noise.png'), url('/img/eu.png'); }
.be { background-image: url('/img/noise.png'), url('/img/be.png'); }
.bg { background-image: url('/img/noise.png'), url('/img/bg.png'); }
.ca { background-image: url('/img/noise.png'), url('/img/ca.png'); }
.zh-CN { background-image: url('/img/noise.png'), url('/img/zh-CN.png'); }
.hr { background-image: url('/img/noise.png'), url('/img/hr.png'); }
.cs { background-image: url('/img/noise.png'), url('/img/cs.png'); }
.da { background-image: url('/img/noise.png'), url('/img/da.png'); }
.nl { background-image: url('/img/noise.png'), url('/img/nl.png'); }
.en { background-image: url('/img/noise.png'), url('/img/en.png'); }
.et { background-image: url('/img/noise.png'), url('/img/et.png'); }
.tl { background-image: url('/img/noise.png'), url('/img/tl.png'); }
.fi { background-image: url('/img/noise.png'), url('/img/fi.png'); }
.fr { background-image: url('/img/noise.png'), url('/img/fr.png'); }
.gl { background-image: url('/img/noise.png'), url('/img/gl.png'); }
.ka { background-image: url('/img/noise.png'), url('/img/ka.png'); }
.de { background-image: url('/img/noise.png'), url('/img/de.png'); }
.el { background-image: url('/img/noise.png'), url('/img/el.png'); }
.ht { background-image: url('/img/noise.png'), url('/img/ht.png'); }
.iw { background-image: url('/img/noise.png'), url('/img/iw.png'); }
.hi { background-image: url('/img/noise.png'), url('/img/hi.png'); }
.hu { background-image: url('/img/noise.png'), url('/img/hu.png'); }
.is { background-image: url('/img/noise.png'), url('/img/is.png'); }
.id { background-image: url('/img/noise.png'), url('/img/id.png'); }
.ga { background-image: url('/img/noise.png'), url('/img/ga.png'); }
.it { background-image: url('/img/noise.png'), url('/img/it.png'); }
.ja { background-image: url('/img/noise.png'), url('/img/ja.png'); }
.ko { background-image: url('/img/noise.png'), url('/img/ko.png'); }
.la { background-image: url('/img/noise.png'), url('/img/la.png'); }
.lv { background-image: url('/img/noise.png'), url('/img/lv.png'); }
.lt { background-image: url('/img/noise.png'), url('/img/lt.png'); }
.mk { background-image: url('/img/noise.png'), url('/img/mk.png'); }
.ms { background-image: url('/img/noise.png'), url('/img/ms.png'); }
.mt { background-image: url('/img/noise.png'), url('/img/mt.png'); }
.no { background-image: url('/img/noise.png'), url('/img/no.png'); }
.fa { background-image: url('/img/noise.png'), url('/img/fa.png'); }
.pl { background-image: url('/img/noise.png'), url('/img/pl.png'); }
.pt { background-image: url('/img/noise.png'), url('/img/pt.png'); }
.ro { background-image: url('/img/noise.png'), url('/img/ro.png'); }
.ru { background-image: url('/img/noise.png'), url('/img/ru.png'); }
.sr { background-image: url('/img/noise.png'), url('/img/sr.png'); }
.sk { background-image: url('/img/noise.png'), url('/img/sk.png'); }
.sl { background-image: url('/img/noise.png'), url('/img/sl.png'); }
.es { background-image: url('/img/noise.png'), url('/img/es.png'); }
.sw { background-image: url('/img/noise.png'), url('/img/sw.png'); }
.sv { background-image: url('/img/noise.png'), url('/img/sv.png'); }
.th { background-image: url('/img/noise.png'), url('/img/th.png'); }
.tr { background-image: url('/img/noise.png'), url('/img/tr.png'); }
.uk { background-image: url('/img/noise.png'), url('/img/uk.png'); }
.ur { background-image: url('/img/noise.png'), url('/img/ur.png'); }
.vi { background-image: url('/img/noise.png'), url('/img/vi.png'); }
.cy { background-image: url('/img/noise.png'), url('/img/cy.png'); }
.yi { background-image: url('/img/noise.png'), url('/img/yi.png'); }

/*.cs {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.26, rgba(255,255,255, 0.2)),
        color-stop(0.63, rgba(240,240,240, 0.1))
    ),
    url('/img/noise.png'), url('/img/cs.png');
    
    background-image: -moz-linear-gradient(
        center bottom,
        rgba(255,255,255, 0.2) 26%,
        rgba(240,240,240, 0.1) 63%
    ),
    url('/img/noise.png'), url('/img/cs.png');
}
.en {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.26, rgba(255,255,255, 0.2)),
        color-stop(0.63, rgba(240,240,240, 0.1))
    ),
    url('/img/noise.png'), url('/img/en.png');
    
    background-image: -moz-linear-gradient(
        center bottom,
        rgba(255,255,255, 0.2) 26%,
        rgba(240,240,240, 0.1) 63%
    ),
    url('/img/noise.png'), url('/img/en.png');
}*/








.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

